*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 25.5em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Familjen Grotesk", sans-serif;
  background-color: #fff;
  font-weight: 300;
  line-height: 1.4; }
  body a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease; }
    body a:hover {
      color: #0056b3;
      text-decoration: underline; }
    body a:active {
      color: #003d80; }
    body a:visited {
      color: #0056b3; }
    body a:focus {
      outline-offset: 2px; }

::-webkit-scrollbar {
  width: 0.8rem; }

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #194673; }

::-webkit-scrollbar-track {
  background-color: #e4edfa; }

.section-hero {
  position: relative;
  background-image: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0.8) 50%, transparent 60%, transparent 100%);
  height: 100rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: margin-top 0.5s ease; }
  .section-hero .hero-slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; }
  .section-hero .slideshow-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1.5s ease-in-out; }
  .section-hero .slideshow-image.active {
    opacity: 1; }

@keyframes zoom {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(1.1); } }
  .section-hero .hero {
    width: 100%;
    height: 100%;
    margin: auto 0;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    display: grid;
    grid-template-columns: 60% 50%;
    position: relative;
    z-index: 1;
    padding: 15rem 0 15rem 5rem; }
    @media only screen and (min-width: 100em) {
      .section-hero .hero {
        width: 160rem; } }
    .section-hero .hero .hero-text {
      opacity: 0;
      transition: all 1.5s ease;
      position: absolute;
      width: 60%;
      top: 50%;
      left: 5%;
      transform: translateY(50%);
      z-index: 2; }
      .section-hero .hero .hero-text .heading-midtext {
        width: 70%; }
      .section-hero .hero .hero-text .tag,
      .section-hero .hero .hero-text h1,
      .section-hero .hero .hero-text p,
      .section-hero .hero .hero-text .btn-group {
        opacity: 0;
        transform: translateY(20px);
        transition: all 0.6s ease; }
    .section-hero .hero .hero-text.active {
      opacity: 1;
      transform: translateY(-50%); }
      .section-hero .hero .hero-text.active .tag {
        transition-delay: 0.3s;
        opacity: 1;
        transform: translateY(0); }
      .section-hero .hero .hero-text.active h1 {
        transition-delay: 0.3s;
        opacity: 1;
        transform: translateY(0); }
      .section-hero .hero .hero-text.active p {
        transition-delay: 0.6s;
        opacity: 1;
        transform: translateY(0); }
      .section-hero .hero .hero-text.active .btn-group {
        transition-delay: 1s;
        opacity: 1;
        transform: translateY(0); }
    .section-hero .hero-btn {
      margin-top: 2rem; }
  .section-hero .hero-bottom {
    display: flex;
    padding-top: 1rem;
    width: 90%;
    height: 9rem; }
    .section-hero .hero-bottom_textbox {
      border-top: 1px solid #f2f7fd;
      padding: 1rem 1rem;
      margin-bottom: -10rem;
      transition: all 0.3s ease;
      display: flex;
      gap: 1.5rem;
      backdrop-filter: blur(2px); }
      .section-hero .hero-bottom_textbox:hover {
        background-color: rgba(17, 37, 64, 0.6); }
      .section-hero .hero-bottom_textbox .textbox-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        width: 4rem;
        height: 4rem;
        background-color: #2170bf;
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        flex-shrink: 0; }
        .section-hero .hero-bottom_textbox .textbox-icon .icon {
          font-size: 2rem; }
      .section-hero .hero-bottom_textbox:hover {
        transform: translateY(-10rem); }
      .section-hero .hero-bottom_textbox .textbox-heading {
        font-size: 1.7rem; }
      .section-hero .hero-bottom_textbox .textbox-minitext {
        font-weight: 500;
        font-size: 1.3rem; }

.section-credibility {
  position: relative;
  background-color: #fff;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: margin-top 0.5s ease; }
  .section-credibility .credibility {
    width: 100%;
    height: 100%;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 2.5rem;
    position: relative;
    z-index: 1;
    padding: 7rem 5rem 7rem 5rem; }
    @media only screen and (min-width: 100em) {
      .section-credibility .credibility {
        width: 160rem; } }
    .section-credibility .credibility-card {
      width: 33.333%;
      padding: 3.5rem 2rem 3.5rem 2rem;
      border-radius: 3rem;
      box-shadow: #edf2f2 0px 10px 30px; }
      .section-credibility .credibility-card:hover .credibility-card_number::before {
        width: 7.5rem; }
      .section-credibility .credibility-card_number {
        color: #47844b;
        opacity: 0.7;
        margin-bottom: 0.5rem;
        height: 6rem;
        position: relative;
        transition: all 0.5s ease; }
        .section-credibility .credibility-card_number::before {
          content: '';
          height: 2px;
          width: 5rem;
          position: absolute;
          bottom: 0px;
          left: 0px;
          background-color: #47844b;
          transition: all 0.5s ease; }
      .section-credibility .credibility-card_heading {
        color: #112540; }
      .section-credibility .credibility-card_text {
        color: #2170bf; }

.section-about {
  position: relative;
  background-color: #fff;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: margin-top 0.5s ease; }
  .section-about .about {
    width: 100%;
    height: 100%;
    margin: auto 0;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 6rem;
    position: relative;
    z-index: 1; }
    .section-about .about-top {
      width: 100%;
      height: 100%;
      padding: 0rem 5rem 0rem 5rem; }
      @media only screen and (min-width: 100em) {
        .section-about .about-top {
          width: 160rem; } }
      .section-about .about-top-heading {
        text-align: center;
        margin-bottom: 1.2rem; }
      .section-about .about-top-stats {
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center; }
        .section-about .about-top-stats_info {
          display: flex;
          flex-direction: column;
          gap: .5rem;
          align-items: center; }
          .section-about .about-top-stats_info--number {
            font-size: 3.5rem;
            font-family: "Familjen Grotesk", sans-serif;
            color: #47844b; }
          .section-about .about-top-stats_info--text {
            text-transform: uppercase;
            font-size: 1.2rem;
            color: #2e4d31;
            text-align: center; }
    .section-about .about-bottom {
      width: 100%;
      height: 100%; }
      .section-about .about-bottom_one {
        padding: 0rem 5rem 0rem 5rem;
        margin: 0 auto;
        height: 8rem; }
        @media only screen and (min-width: 100em) {
          .section-about .about-bottom_one {
            width: 160rem; } }
        .section-about .about-bottom_one-heading {
          text-align: left;
          margin-bottom: 1.2rem; }
      .section-about .about-bottom_two {
        background-image: linear-gradient(to right, #2170bf 50%, #f2f7fd 50%);
        display: flex;
        justify-content: center; }
        .section-about .about-bottom_two--combine {
          display: flex;
          width: 160rem;
          padding: 3rem 5rem 3rem 5rem; }
        .section-about .about-bottom_two--left {
          background-color: #2170bf;
          width: 55%;
          z-index: 2;
          margin-top: -3rem;
          margin-bottom: -3rem;
          padding-top: 3rem;
          padding-bottom: 3rem;
          padding-right: 2rem; }
          .section-about .about-bottom_two--left-group {
            display: flex;
            gap: 2rem; }
            .section-about .about-bottom_two--left-group .group-left {
              margin-right: auto; }
            .section-about .about-bottom_two--left-group .group-right {
              background-color: #fff;
              color: #000;
              text-align: center;
              padding: 1rem;
              margin-right: 2rem;
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              gap: .5rem;
              min-width: 12rem; }
              .section-about .about-bottom_two--left-group .group-right::before {
                content: '';
                position: absolute;
                height: 3rem;
                width: 3rem;
                background-color: #fff;
                background: linear-gradient(166deg, #539ddd 0%, #2170bf 35%);
                top: 3.5px;
                left: 3.5px; }
              .section-about .about-bottom_two--left-group .group-right-number {
                font-size: 5rem;
                font-family: "Plus Jakarta Sans", sans-serif;
                position: relative; }
                .section-about .about-bottom_two--left-group .group-right-number .number-sign {
                  position: absolute;
                  top: 0;
                  right: -3;
                  font-size: 2.5rem;
                  color: #2170bf; }
          .section-about .about-bottom_two--left .heading-subtext {
            color: #fff;
            margin-bottom: 1rem; }
          .section-about .about-bottom_two--left .heading-minitext {
            margin-bottom: 2rem; }
          .section-about .about-bottom_two--left .about-list {
            display: flex;
            gap: 1rem;
            align-items: center;
            width: 100%; }
            .section-about .about-bottom_two--left .about-list:not(:last-child) {
              margin-bottom: 1.5rem; }
            .section-about .about-bottom_two--left .about-list_icon {
              background: #FFF;
              background: linear-gradient(166deg, white 0%, #e6e6e6 35%);
              color: #2170bf;
              font-size: 1rem;
              height: 2rem;
              width: 2rem;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              aspect-ratio: 1 / 1;
              flex-shrink: 0; }
            .section-about .about-bottom_two--left .about-list_text {
              margin: 0; }
        .section-about .about-bottom_two--right {
          position: relative;
          width: 50%;
          margin-bottom: -14rem;
          margin-left: -5rem; }
          .section-about .about-bottom_two--right .image-background {
            background-image: url(../img/apex-analytics-header-image-2.jpg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            width: 100%;
            position: absolute;
            top: -11rem;
            left: 0; }

.section-partners {
  background-color: #fff;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff; }
  .section-partners .partners {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    display: flex;
    gap: 2.5rem;
    position: relative;
    z-index: 1;
    padding: 7rem 5rem 3rem 5rem;
    border-bottom: 1px solid #e6e6e6; }
    @media only screen and (min-width: 100em) {
      .section-partners .partners {
        width: 160rem; } }
    .section-partners .partners-textbox {
      width: 40rem;
      min-width: 10rem;
      display: flex;
      align-items: center;
      text-align: center; }
      .section-partners .partners-textbox .heading-midtext {
        color: #2170bf; }
    .section-partners .partners-swiper {
      display: flex;
      gap: 6rem;
      overflow: hidden; }
      .section-partners .partners-swiper .swiper {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto; }
      .section-partners .partners-swiper .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100px; }
      .section-partners .partners-swiper_logo {
        height: 5rem;
        filter: grayscale(1);
        opacity: 0.5;
        transition: filter 0.4s ease, opacity 0.4s ease, transform 0.4s ease; }
        .section-partners .partners-swiper_logo:hover {
          filter: none;
          opacity: 1;
          transform: scale(1.05); }

.section-space {
  height: 100rem; }

.naira-input-container input {
  padding-left: 3rem; }

.naira-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%; }

.naira {
  position: absolute;
  font-family: inherit;
  font-weight: 500;
  color: #274029;
  font-size: 1.6rem;
  left: 10px; }

label {
  display: block;
  text-align: left;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: .5rem;
  color: #274029; }

input,
select {
  margin-bottom: 2rem;
  height: 5rem;
  width: 100%;
  outline: 1.5px solid #000;
  padding: 1rem;
  padding-left: 3rem;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 500;
  color: #47844b;
  border: none;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(71, 132, 75, 0.5);
  transition: all 0.3s ease; }
  @media only screen and (max-width: 30.5em) {
    input,
    select {
      width: 100%; } }
  input:focus, input:valid,
  select:focus,
  select:valid {
    background-color: #fff;
    box-shadow: 0 0 0.3rem 0.5rem rgba(71, 132, 75, 0.36); }

.double-input {
  display: flex;
  gap: 2rem;
  align-items: center; }
  @media only screen and (max-width: 30.5em) {
    .double-input {
      display: block; } }
  .double-input .simReg-method-form_input {
    width: 100%; }
  .double-input input {
    width: 100%; }

select {
  padding: .5rem;
  width: max-content; }
  select:focus, select:valid {
    background-color: #f6f7ff;
    box-shadow: 0 0 0.3rem 0.1rem rgba(143, 190, 234, 0.36); }
  select:active, select:focus {
    background-color: #f6f7ff;
    box-shadow: 0 0 0.3rem 0.5rem rgba(143, 190, 234, 0.36); }

.checkbox {
  margin-left: 3rem;
  margin-top: 2rem;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 500; }
  .checkbox-container {
    display: flex;
    align-items: center; }
    .checkbox-container input[type="checkbox"] {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      border: 2px solid #2170bf;
      background-color: #fff;
      margin-right: 1rem;
      cursor: pointer; }
    .checkbox-container input:checked {
      background-color: #2170bf;
      box-shadow: inset 0 0 0 1.5px #8fbeea; }
    .checkbox-container label {
      cursor: pointer; }

.btn-group {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: left;
  margin-top: 3rem; }

.btn {
  transform: translateZ(0);
  position: relative;
  overflow: hidden;
  z-index: 9;
  padding: 17px 25px;
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 22px; }
  .btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 120%;
    border-radius: 20%;
    scale: 0 0;
    translate: 0 140%;
    transition: scale 0.6s cubic-bezier(0.215, 0.61, 0.355, 1), translate 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    z-index: -1; }

.primary-btn {
  background-color: #2170bf;
  color: #fff; }
  .primary-btn::before {
    background: #112213; }
  .primary-btn:hover::before, .primary-btn:active::before {
    scale: 1.5 1.5;
    translate: 0 0;
    border-radius: 50%; }

.secondary-btn {
  background-color: #47844b;
  color: #fff; }
  .secondary-btn::before {
    background: #2170bf; }
  .secondary-btn:hover::before, .secondary-btn:active::before {
    scale: 1.5 1.5;
    translate: 0 0;
    border-radius: 50%; }

.center-button {
  display: flex;
  justify-content: center; }

.py-1 {
  padding: 1rem; }

.px-2 {
  padding-top: 2rem; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.heading-text {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 2.5rem;
  color: #2170bf; }

.heading-midtext-slim {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 200;
  color: #000;
  font-family: "Plus Jakarta Sans", sans-serif; }

.heading-midtext-wide {
  text-transform: uppercase;
  font-size: 2.1rem;
  font-weight: 800;
  color: #000;
  font-family: "Familjen Grotesk", sans-serif; }

.heading-midtext {
  font-size: 2.1rem;
  font-weight: 500;
  color: #000; }

.heading-subtext {
  font-size: 1.8rem;
  color: #000;
  font-family: "Plus Jakarta Sans", sans-serif; }

.heading-minitext {
  font-size: 1.5rem;
  font-family: "Plus Jakarta Sans", sans-serif; }

.tag {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 1.8rem;
  font-family: "Plus Jakarta Sans", sans-serif; }
  @media only screen and (max-width: 38.6em) {
    .tag {
      margin-bottom: 1rem;
      text-align: center; } }

.hidden {
  display: none; }

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none; }

.icon-mobile-nav {
  height: 3.8rem;
  width: 3.8rem;
  color: #1a3b60; }

.icon-mobile-nav[name="close-outline"] {
  display: none; }

@media only screen and (max-width: 50.3em) {
  .btn-mobile-nav {
    display: block;
    z-index: 9999; }
  .navigation-header.nav-open {
    width: 100%;
    top: 0;
    bottom: 0; }
  .main-nav {
    background-color: rgba(242, 247, 253, 0.951);
    -webkit-backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    transform: translateY(-100%);
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-in;
    transition: all 0.8s cubic-bezier(0.68, -0.5, 0.265, 1.55);
    opacity: 0;
    /* Make it unaccessible to mouse and keyboard */
    pointer-events: none;
    /* Hide it from screen readers */
    visibility: hidden; }
    .main-nav-list {
      flex-direction: column;
      font-size: 1rem; }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0); }
  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block; }
  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none; } }

.sticky-nav {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
  height: 7rem !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  background-color: rgba(242, 247, 253, 0.7) !important;
  backdrop-filter: blur(5px);
  box-shadow: 0 1.2rem 3.2rem rgba(83, 157, 221, 0.2) !important;
  border-radius: 0 !important; }
  @media only screen and (max-width: 62.5em) {
    .sticky-nav {
      height: 6rem !important; } }
  @media only screen and (max-width: 50.3em) {
    .sticky-nav {
      height: 5rem !important; } }
  .sticky-nav .main-nav .main-nav-top {
    display: none; }

.navigation-header {
  width: 100%;
  position: absolute;
  top: 0rem;
  left: 0;
  right: 0;
  z-index: 9999999;
  margin: 0 auto;
  transition: all 0.3s ease; }
  @media only screen and (min-width: 100em) {
    .navigation-header {
      width: 100%; } }
  @media only screen and (max-width: 62.5em) {
    .navigation-header {
      width: 100%;
      justify-content: space-between; } }
  @media only screen and (max-width: 50.3em) {
    .navigation-header {
      display: flex;
      gap: 5rem;
      align-items: center; } }
  .navigation-header .main-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #fff; }
    @media only screen and (max-width: 50.3em) {
      .navigation-header .main-nav {
        flex-direction: column-reverse; } }
    .navigation-header .main-nav-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem 0 .5rem 0;
      background-color: #000;
      padding: 1rem 2rem; }
      @media only screen and (min-width: 100em) {
        .navigation-header .main-nav-top {
          padding: 1rem 5rem; } }
      @media only screen and (max-width: 50.3em) {
        .navigation-header .main-nav-top {
          display: none; } }
      .navigation-header .main-nav-top--contact {
        display: flex;
        align-items: center;
        gap: 2rem;
        font-size: 1.25rem; }
        .navigation-header .main-nav-top--contact .heading-minitext {
          color: #fff;
          font-weight: 600;
          font-size: 1.25rem; }
        .navigation-header .main-nav-top--contact_links {
          display: flex;
          align-items: center;
          gap: 1rem;
          font-weight: 600;
          color: #f2f7fd; }
          .navigation-header .main-nav-top--contact_links:last-child {
            margin-right: 1.5rem; }
          .navigation-header .main-nav-top--contact_links:hover .link-item {
            color: #2170bf;
            cursor: pointer;
            transition: all 0.2s ease; }
          .navigation-header .main-nav-top--contact_links .nav-call_icon {
            background-color: #2170bf;
            height: 3rem;
            width: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            aspect-ratio: 1 / 1;
            flex-shrink: 0; }
            .navigation-header .main-nav-top--contact_links .nav-call_icon .nav-icon {
              margin: 0;
              padding: 0; }
          .navigation-header .main-nav-top--contact_links .nav-icon {
            font-size: 1rem; }
          .navigation-header .main-nav-top--contact_links .link-item {
            color: #fff;
            cursor: pointer;
            transition: all 0.2s ease; }
    .navigation-header .main-nav-bottom {
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between; }
      @media only screen and (min-width: 100em) {
        .navigation-header .main-nav-bottom {
          padding: 1rem 5rem; } }
      .navigation-header .main-nav-bottom_left {
        display: flex;
        gap: 3rem;
        align-items: center;
        justify-content: center; }
        .navigation-header .main-nav-bottom_left .logo {
          height: 4.5rem; }
          @media only screen and (max-width: 50.3em) {
            .navigation-header .main-nav-bottom_left .logo {
              height: 3.2rem; } }
        .navigation-header .main-nav-bottom_left .main-nav-list {
          list-style: none;
          display: flex;
          gap: .5rem;
          align-items: center; }
          .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link.active {
            color: #2170bf !important; }
            @media only screen and (max-width: 50.3em) {
              .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link.active {
                color: #2170bf !important; } }
          .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link:link, .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link:visited {
            display: inline-block;
            text-decoration: none;
            color: #000;
            font-weight: 600;
            font-size: 1.45rem;
            padding: .5rem; }
            @media only screen and (max-width: 50.3em) {
              .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link:link, .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link:visited {
                font-size: 2rem; } }
          .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link:hover, .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link:active {
            color: #2170bf; }
            @media only screen and (max-width: 50.3em) {
              .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link:hover, .navigation-header .main-nav-bottom_left .main-nav-list .main-nav-link:active {
                color: #fff; } }
      .navigation-header .main-nav-bottom_right {
        display: flex;
        gap: 2rem;
        align-items: center;
        justify-content: center; }
        .navigation-header .main-nav-bottom_right--socials {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: .5rem;
          font-size: 1.6rem;
          color: #2d80ca;
          margin-left: 1.5rem; }
          .navigation-header .main-nav-bottom_right--socials .nav-icon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            color: #2170bf;
            border-radius: 100%;
            text-decoration: none;
            width: 3rem;
            height: 3rem;
            background-color: #f6f7ff;
            overflow: hidden;
            aspect-ratio: 1 / 1;
            flex-shrink: 0; }
            .navigation-header .main-nav-bottom_right--socials .nav-icon:hover {
              color: #fff; }
              .navigation-header .main-nav-bottom_right--socials .nav-icon:hover::before {
                transform: scale(1); }
            .navigation-header .main-nav-bottom_right--socials .nav-icon::before {
              border-radius: 50%;
              transform: scale(0);
              transform-origin: center;
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #2170bf;
              transition: transform 0.6s ease;
              z-index: 0; }
            .navigation-header .main-nav-bottom_right--socials .nav-icon .icon {
              position: relative;
              text-decoration: none;
              z-index: 1; }
  @media only screen and (max-width: 50.3em) {
    .navigation-header .button-group {
      flex-direction: column;
      gap: 2rem; } }
  .navigation-header .button-group .hero-btn-dark {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
    margin-right: 0;
    width: max-content; }
    @media only screen and (max-width: 50.3em) {
      .navigation-header .button-group .hero-btn-dark {
        font-size: 1.5rem;
        margin: 1rem 0; } }

div.swiper-3 {
  margin: 2.5rem auto;
  width: 100%;
  height: auto;
  padding: 0 4rem 6rem 4rem;
  position: relative;
  padding-bottom: 4rem;
  overflow: hidden; }
  @media only screen and (max-width: 62.5em) {
    div.swiper-3 {
      padding: 0 2rem 6rem 2rem; } }
  div.swiper-3 .testimonial-item {
    text-align: center;
    border: 0.1rem solid var(--grey);
    border-radius: 0.5rem;
    padding: 4rem 2rem;
    height: auto;
    width: 100%;
    background-color: #fff;
    position: relative;
    overflow: hidden; }
    div.swiper-3 .testimonial-item .quote {
      position: absolute;
      top: -100px;
      right: 0;
      font-size: 30rem;
      color: rgba(45, 128, 202, 0.09);
      z-index: -100; }
    div.swiper-3 .testimonial-item .client-comment {
      color: var(--grey);
      font-size: 1.3rem;
      line-height: 1.5;
      font-style: italic;
      text-align: left; }
    div.swiper-3 .testimonial-item .client-info {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-top: 2.2rem; }
      div.swiper-3 .testimonial-item .client-info .client-image {
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        border: 0.5rem solid var(--white); }
      div.swiper-3 .testimonial-item .client-info_basic {
        display: flex;
        flex-direction: column;
        gap: .5rem; }
        div.swiper-3 .testimonial-item .client-info_basic .client-name {
          font-size: 1.5rem; }
  div.swiper-3 .swiper-pagination {
    bottom: 0; }
    div.swiper-3 .swiper-pagination .swiper-pagination-bullet {
      background: #77b17a; }
    div.swiper-3 .swiper-pagination .swiper-pagination-bullet-active {
      background: #47844b; }
