// COLOR VARIABLES
$color-primary: #2170bf;
$color-primary-light: #8fbeea;
$color-primary-dark: #1a3b60;

$color-secondary: #47844b;
$color-secondary-light: #a6cfa9;
$color-secondary-dark: #274029;

$color-grey-light-1: #fff;
$color-grey-light-2: #f6f7ff;
$color-grey-light-3: #e6e6e6;
$color-grey-light-4: #cccccc;
$color-grey-light-5: #b3b3b3;

$color-grey-dark-1: #000;
$color-grey-dark-2: #1a1a1a;
$color-grey-dark-3: #333333;
$color-grey-dark-3: #4d4d4d;

$color-primary-50: #f2f7fd;
$color-primary-100: #e4edfa;
$color-primary-200: #c3dbf4;
$color-primary-300: #8fbeea;
$color-primary-400: #539ddd;
$color-primary-500: #2d80ca;
$color-primary-600: #2170bf;
$color-primary-700: #19518b;
$color-primary-800: #194673;
$color-primary-900: #1a3b60;
$color-primary-950: #112540;

$color-secondary-50: #f4f9f4;
$color-secondary-100: #e6f2e6;
$color-secondary-200: #cde5ce;
$color-secondary-300: #a6cfa9;
$color-secondary-400: #77b17a;
$color-secondary-500: #539457;
$color-secondary-600: #47844b;
$color-secondary-700: #356038;
$color-secondary-800: #2e4d31;
$color-secondary-900: #274029;
$color-secondary-950: #112213;


// FONT VARIABLES
$font-primary: "Plus Jakarta Sans", sans-serif;

// RESPONSIVE VARIABLES
$bp-monitor: 100em;
$bp-largest: 75em;
$bp-larger: 62.5em;
$bp-big: 50.3em;
$bp-large-extra: 45.7em;
$bp-large: 43.3em;
$bp-medium: 38.6em;
$bp-mid: 35.6em;
$bp-small: 30.5em;
$bp-small-extra: 25.5em;
$bp-smaller: 18.8em;


*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 62.5%;

   @media only screen and (max-width:$bp-small-extra) {
      font-size: 50%;
   }
}

body {
   font-family: $font-primary;
   background-color: $color-grey-light-1;
   font-weight: 300;
   line-height: 1.4;
   // overflow-x: hidden;

   a {
      color: #007bff;
      text-decoration: none;
      transition: color 0.3s ease;

      &:hover {
         color: #0056b3;
         text-decoration: underline;
      }

      &:active {
         color: #003d80;
      }

      &:visited {
         color: #0056b3;
      }

      &:focus {
         outline-offset: 2px;
      }
   }
}

::-webkit-scrollbar {
   width: 0.8rem;
}

::-webkit-scrollbar-thumb {
   border-radius: 1rem;
   background-color: $color-primary-800;
}

::-webkit-scrollbar-track {
   background-color: $color-primary-100;
}