.section-hero {
   position: relative;
   background-image: linear-gradient(to right,
         $color-grey-light-1 0%,
         rgba($color-grey-light-1, 0.8) 50%,
         transparent 60%,
         transparent 100%);


   // background-color: transparent;
   // opacity: 0.9;
   height: 100rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: $color-grey-light-1;
   transition: margin-top 0.5s ease;


   .hero-slideshow {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
   }

   .slideshow-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      opacity: 0;
      transition: opacity 1.5s ease-in-out;
      // animation: zoom 6s ease-in-out infinite;
   }

   .slideshow-image.active {
      opacity: 1;
   }

   @keyframes zoom {
      0% {
         transform: scale(1);
      }

      100% {
         transform: scale(1.1);
      }
   }

   .hero {
      width: 100%;
      height: 100%;
      margin: auto 0;
      gap: 1.5rem;
      align-items: center;
      justify-content: center;
      display: grid;
      grid-template-columns: 60% 50%;
      position: relative;
      z-index: 1;
      padding: 15rem 0 15rem 5rem;



      @media only screen and (min-width: $bp-monitor) {
         width: 160rem;
      }

      // @media only screen and (max-width:$bp-larger) {
      //    grid-template-columns: 70% 30%;
      // }

      // @media only screen and (max-width:$bp-big) {
      //    grid-template-columns: 85% 15%;
      // }

      // @media only screen and (max-width:$bp-medium) {
      //    grid-template-columns: 100% 0%;
      // }

      // &-text {
      //    padding-left: 3rem;
      // }

      .hero-text {
         opacity: 0;
         transition: all 1.5s ease;
         position: absolute;
         width: 60%;
         top: 50%;
         left: 5%;
         transform: translateY(50%);
         z-index: 2;

         .heading-midtext {
            width: 70%;
         }

         .tag,
         h1,
         p,
         .btn-group {
            opacity: 0;
            transform: translateY(20px);
            transition: all 0.6s ease;
         }
      }

      .hero-text.active {
         opacity: 1;
         transform: translateY(-50%);
         // transition-delay: 1.2s;

         .tag {
            transition-delay: 0.3s;
            opacity: 1;
            transform: translateY(0);
         }

         h1 {
            transition-delay: 0.3s;
            opacity: 1;
            transform: translateY(0);
         }

         p {
            transition-delay: 0.6s;
            opacity: 1;
            transform: translateY(0);
         }

         .btn-group {
            transition-delay: 1s;
            opacity: 1;
            transform: translateY(0);
         }
      }


      &-btn {
         margin-top: 2rem;
      }
   }

   .hero-bottom {
      display: flex;
      padding-top: 1rem;
      width: 90%;
      height: 9rem;

      &_textbox {
         border-top: 1px solid $color-primary-50;
         padding: 1rem 1rem;
         margin-bottom: -10rem;
         transition: all 0.3s ease;
         display: flex;
         gap: 1.5rem;
         // background-color: rgba($color-primary-950, 0.6);
         backdrop-filter: blur(2px);

         &:hover {
            background-color: rgba($color-primary-950, 0.6);
         }

         .textbox-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            width: 4rem;
            height: 4rem;
            background-color: $color-primary-600;
            border-radius: 50%;

            aspect-ratio: 1 / 1;
            flex-shrink: 0;

            .icon {
               font-size: 2rem;
            }
         }

         &:hover {
            transform: translateY(-10rem);
         }

         .textbox-heading {
            font-size: 1.7rem;
         }

         .textbox-minitext {
            font-weight: 500;
            font-size: 1.3rem;
         }
      }
   }
}

.section-credibility {
   position: relative;
   background-color: $color-grey-light-1;
   // background-color: green;


   // background-color: transparent;
   // opacity: 0.9;
   height: max-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: $color-grey-light-1;
   transition: margin-top 0.5s ease;

   .credibility {
      width: 100%;
      height: 100%;
      margin: auto 0;
      align-items: center;
      justify-content: center;
      display: flex;
      gap: 2.5rem;
      position: relative;
      z-index: 1;
      padding: 7rem 5rem 7rem 5rem;

      @media only screen and (min-width: $bp-monitor) {
         width: 160rem;
      }

      &-card {
         width: 33.333%;
         // background-color: $color-grey-light-1;
         padding: 3.5rem 2rem 3.5rem 2rem;
         border-radius: 3rem;

         box-shadow: rgb(237, 242, 242) 0px 10px 30px;

         &:hover {
            .credibility-card_number {
               &::before {
                  width: 7.5rem;
               }
            }
         }

         &_number {
            color: $color-secondary;
            opacity: 0.7;
            margin-bottom: 0.5rem;
            height: 6rem;
            position: relative;
            transition: all 0.5s ease;

            &::before {
               content: '';
               height: 2px;
               width: 5rem;
               position: absolute;
               bottom: 0px;
               left: 0px;
               background-color: $color-secondary;
               transition: all 0.5s ease;
            }
         }

         &_heading {
            color: $color-primary-950;
         }

         &_text {
            color: $color-primary-600;
            // opacity: 0.7;
         }
      }
   }
}

.section-about {
   position: relative;
   background-color: $color-grey-light-1;
   // background-color: green;
   // background-color: transparent;
   // opacity: 0.9;
   height: max-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: $color-grey-light-1;
   transition: margin-top 0.5s ease;

   .about {
      width: 100%;
      height: 100%;
      margin: auto 0;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      gap: 6rem;
      position: relative;
      z-index: 1;


      &-top {
         width: 100%;
         height: 100%;
         padding: 0rem 5rem 0rem 5rem;

         @media only screen and (min-width: $bp-monitor) {
            width: 160rem;
         }

         &-heading {
            text-align: center;
            margin-bottom: 1.2rem;
         }

         &-stats {
            display: flex;
            gap: 3rem;
            align-items: center;
            justify-content: center;

            &_info {
               display: flex;
               flex-direction: column;
               gap: .5rem;
               align-items: center;

               &--number {
                  font-size: 3.5rem;
                  font-family: $font-primary;
                  color: $color-secondary;
               }

               &--text {
                  text-transform: uppercase;
                  font-size: 1.2rem;
                  color: $color-secondary-800;
                  text-align: center;
               }
            }
         }
      }


      &-bottom {
         width: 100%;
         height: 100%;


         &_one {
            padding: 0rem 5rem 0rem 5rem;
            margin: 0 auto;
            height: 8rem;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;

            @media only screen and (min-width: $bp-monitor) {
               width: 160rem;
            }

            &-heading {
               text-align: left;
               margin-bottom: 1.2rem;

            }
         }

         &_two {
            // display: flex;
            background-image: linear-gradient(to right,
                  $color-primary 50%,
                  $color-primary-50 50%);
            display: flex;
            justify-content: center;

            &--combine {
               display: flex;
               width: 160rem;
               padding: 3rem 5rem 3rem 5rem;
            }

            &--left {
               // background-color: $color-primary;
               background-color: $color-primary;
               width: 55%;
               z-index: 2;
               margin-top: -3rem;
               margin-bottom: -3rem;
               padding-top: 3rem;
               padding-bottom: 3rem;
               padding-right: 2rem;

               &-group {
                  display: flex;
                  gap: 2rem;

                  .group-left {
                     margin-right: auto;
                  }

                  .group-right {
                     background-color: $color-grey-light-1;
                     color: $color-grey-dark-1;
                     text-align: center;
                     padding: 1rem;
                     margin-right: 2rem;
                     position: relative;
                     display: flex;
                     flex-direction: column;
                     justify-content: center;
                     align-items: center;
                     gap: .5rem;
                     min-width: 12rem;

                     &::before {
                        content: '';
                        position: absolute;
                        height: 3rem;
                        width: 3rem;
                        background-color: $color-grey-light-1;
                        background: linear-gradient(166deg, rgba($color-primary-400, 1) 0%, rgba($color-primary-600, 1) 35%);
                        top: 3.5px;
                        left: 3.5px;
                     }

                     &-number {
                        font-size: 5rem;
                        font-family: $font-secondary;
                        position: relative;



                        .number-sign {
                           position: absolute;
                           top: 0;
                           right: -3;
                           font-size: 2.5rem;
                           color: $color-primary-600;
                        }
                     }
                  }
               }



               // @media only screen and (min-width: $bp-monitor) {
               //    width: 160rem;
               // }

               .heading-subtext {
                  color: $color-grey-light-1;
                  margin-bottom: 1rem;
               }

               .heading-minitext {
                  margin-bottom: 2rem;
               }

               .about-list {
                  display: flex;
                  gap: 1rem;
                  align-items: center;
                  width: 100%;

                  &:not(:last-child) {
                     margin-bottom: 1.5rem;
                  }

                  &_icon {
                     background: #FFF;
                     background: linear-gradient(166deg, rgba(255, 255, 255, 1) 0%, rgba(230, 230, 230, 1) 35%);
                     color: $color-primary;
                     font-size: 1rem;
                     height: 2rem;
                     width: 2rem;
                     border-radius: 50%;
                     display: flex;
                     align-items: center;
                     justify-content: center;

                     aspect-ratio: 1 / 1;
                     flex-shrink: 0;
                  }

                  &_text {
                     margin: 0;
                     font-weight: 600;
                  }
               }

            }

            &--right {
               position: relative;
               // background-color: green;
               width: 50%;
               margin-bottom: -14rem;
               margin-left: -5rem;

               .image-background {
                  background-image: url(../img/apex-analytics-header-image-2.jpg);
                  background-position: center;
                  background-size: cover;
                  background-repeat: no-repeat;
                  height: 100%;
                  width: 100%;

                  position: absolute;
                  // this is 8rem height of &_one and 3rem padding 0f &--combine - Search 11rem (Value for top:) to understand future adjustements.
                  top: -11rem;
                  left: 0;

               }
            }
         }



      }


   }
}


.section-partners {

   background-color: $color-grey-light-1;

   // background-color: transparent;
   // opacity: 0.9;
   height: max-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: $color-grey-light-1;

   .partners {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      align-items: center;
      // justify-content: center;
      display: flex;
      gap: 2.5rem;
      position: relative;
      z-index: 1;
      padding: 7rem 5rem 3rem 5rem;
      border-bottom: 1px solid $color-grey-light-3;



      @media only screen and (min-width: $bp-monitor) {
         width: 160rem;
      }

      &-textbox {
         width: 40rem;
         min-width: 10rem;
         display: flex;
         align-items: center;
         text-align: center;

         .heading-midtext {
            color: $color-secondary;

         }

      }

      &-swiper {
         display: flex;
         gap: 6rem;
         overflow: hidden;


         .swiper {
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
         }



         .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;

            // &:active,
            // &:hover {
            //    cursor: pointer;
            // }
         }


         &_logo {
            height: 5rem;
            filter: grayscale(1);
            opacity: 0.5;
            transition: filter 0.4s ease, opacity 0.4s ease, transform 0.4s ease;

            &:hover {
               filter: none;
               opacity: 1;
               transform: scale(1.05);
            }


         }
      }
   }
}


.section-services {
   position: relative;
   background-color: $color-grey-light-1;
   // background-color: green;
   // background-color: transparent;
   // opacity: 0.9;
   height: max-content;
   // color: $color-grey-light-1;
   transition: margin-top 0.5s ease;

   /* The main container for the horizontal scroll */
   .services {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      text-align: center;
      // justify-content: center;
      // display: flex;
      // flex-direction: column;
      // gap: 6rem;
      position: relative;
      z-index: 1;
      padding: 7rem 5rem 7rem 5rem;


      @media only screen and (min-width: $bp-monitor) {
         width: 160rem;
      }

      &-top {

         &-heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .heading-minitext {
               width: 80%;
               text-align: center;
               margin-top: 2rem;
               margin-bottom: 4rem;
            }
         }
      }


      &-bottom {
         height: 70vh;
         overflow: hidden;
         position: relative;
         background-color: $color-grey-light-1;

         padding-top: 68rem;



         @media (max-width: 768px) {
            height: auto; // let content decide height
            min-height: 60vh; // still keeps some presence
            min-height: calc(100vh - 80px);
            padding-top: 80px;
         }


         /* The container that will move horizontally */
         .scroll-wrapper {
            display: flex;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            align-items: center;
            /* Vertically centers the service boxes */
            will-change: transform;
            /* Performance optimization */
         }

         .service-box.is-first {
            margin-left: 30vw;
            /* This creates the initial space to the left */
         }

         .service-box.is-last {
            margin-right: 30vw;
            /* This creates the final space to the right */
         }

         /* Individual service boxes */
         .service-box {
            width: min-content;
            height: min-content;
            min-width: 50rem;
            background: $color-primary-50;
            color: $color-primary-900;
            margin: 0 1.2rem;
            padding: 3rem;
            flex-shrink: 0;
            text-align: left;

            // flex: 0 0 auto;
            // /* Prevent shrinking */
            // min-width: clamp(280px, 45vw, 500px);
            // /* Responsive widths */
            // box-sizing: border-box;

            border-top: solid 2px $color-primary-900;
            transition: background-color 0.3s ease, transform 0.3s ease;

            &.active {
               background-color: $color-primary;
               transform: scale(1.04);
               color: $color-grey-light-1;


               .heading-midtext {
                  color: $color-grey-light-1;
               }

               .service-list_icon {
                  background: #FFF;
                  background: #FFF;
                  background: linear-gradient(166deg, rgba($color-grey-light-1, 1) 0%, rgba($color-grey-light-3, 1) 35%);
                  color: $color-primary;

               }
            }

            &_one {
               display: flex;
               align-items: center;
               gap: 2rem;
               margin-bottom: 2rem;

               .heading-midtext {
                  margin-right: auto;
                  color: $color-primary-900;
                  width: 60%;
               }

               .tag {
                  font-size: 1.5rem;
               }
            }

            &_three {
               margin-bottom: 5rem;

               .service-list {
                  display: flex;
                  gap: 1rem;
                  align-items: center;
                  width: 100%;

                  &:not(:last-child) {
                     margin-bottom: 1.5rem;
                  }

                  &_icon {
                     background: #FFF;
                     background: linear-gradient(166deg, rgba($color-primary-400, 1) 0%, rgba($color-primary-600, 1) 35%);
                     color: $color-grey-light-1;
                     font-size: 1rem;
                     height: 2rem;
                     width: 2rem;
                     border-radius: 50%;
                     display: flex;
                     align-items: center;
                     justify-content: center;

                     aspect-ratio: 1 / 1;
                     flex-shrink: 0;
                  }

                  &_text {
                     margin: 0;
                     font-weight: 600;
                  }
               }
            }

            &_four {
               position: relative;

               .service-icon {
                  font-size: 8rem;

                  position: absolute;
                  bottom: 0rem;
                  right: 0rem;
                  opacity: 0.3;
               }
            }


         }
      }
   }
}


.section-tech-achievements {
   position: relative;
   padding: 7rem 5rem;
   background: $color-grey-light-1; // base background
   overflow: hidden;


   &-heading {
      text-align: center;

      .heading-midtext-wide {
         color: $color-primary;
         transition: color 0.6s ease;
      }
   }

   // Overlay layer (handles fade)
   &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba($color-primary, 0.7),
            rgba($color-primary-950, 0.7)),
         url(../img/apex-analytics-header-image-2.jpg) center/cover no-repeat;
      opacity: 0; // start invisible
      transition: opacity 0.8s ease; // fade in/out
      z-index: 0;
   }

   &.active::before {
      opacity: 1; // fade overlay in
   }

   &.active .heading-midtext-wide {
      color: $color-grey-light-1;
   }

   // Ensure content stays above overlay
   * {
      position: relative;
      z-index: 1;
   }

   .heading-midtext-wide {
      color: $color-primary-900;
   }
}

.section-team-members {
   position: relative;
   background-color: $color-grey-light-1;
   padding: 7rem 2rem 13rem 2rem;
   display: flex;
   flex-direction: column;
   align-items: center;

   .team-members {

      width: 100%;
      max-width: 140rem;
      margin: 0 auto;

      &-pagination {
         position: absolute;
         display: flex;
         align-items: center;
         gap: .1rem;
         bottom: 2rem;
         left: 50%;
         transform: translateX(-50%);
         z-index: 100;

         &_right,
         &_left {
            padding: 1.5rem;
            background-color: $color-primary;
            cursor: pointer;


            .icon {
               cursor: pointer;
               font-size: 2rem;
               padding: .6rem;
               color: $color-grey-light-1;
            }
         }

         &_right {
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
         }

         &_left {
            border-top-left-radius: 50%;
            border-bottom-left-radius: 50%;
         }

      }

      &_heading {
         text-align: center;
         margin-bottom: 4rem;

         .heading-midtext-wide {
            color: $color-primary;
         }
      }

      &-cards {
         display: flex;
         flex-wrap: wrap;
         gap: 3rem;
         justify-content: center;


         &-swiper {
            overflow: hidden;


            .swiper {
               width: 100%;
               height: auto;
            }

            .swiper-slide {
               text-align: center;
               font-size: 18px;
               display: flex;
               justify-content: center;
               align-items: stretch;
               // height: 100px;

               // &:active,
               // &:hover {
               //    cursor: pointer;
               // }
            }


            &_logo {
               height: 5rem;
               filter: grayscale(1);
               opacity: 0.5;
               transition: filter 0.4s ease, opacity 0.4s ease, transform 0.4s ease;

               &:hover {
                  filter: none;
                  opacity: 1;
                  transform: scale(1.05);
               }


            }
         }
      }
   }
}

.member-card {
   background: $color-primary-100;
   border-radius: 3rem;
   overflow: hidden;
   width: 100%;
   max-width: 30rem;
   // box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
   transition: all .6s ease-in-out;

   &:hover .image-container_image {
      transform: scale(1.1);
   }

   .image-container {
      width: 100%;
      height: 28rem;
      overflow: hidden;
      border-radius: 3rem; // match card curve
      // border-bottom-left-radius: 3rem;
      // border-bottom-right-radius: 3rem;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         transition: all .6s ease-in-out;

         &:hover {
            transform: scale(1.1);
         }
      }
   }

   .member-info {
      padding: 2rem 4rem 5rem 2rem;
      text-align: left;
      position: relative;

      &_link {
         text-decoration: none;
      }

      .member-name {
         font-size: 2rem;
         font-weight: 600;
         color: $color-primary-900;
      }

      .member-role {
         font-size: 1.4rem;
         color: $color-grey-dark-2;
         margin: 0.5rem 0 1.5rem;
      }

      .member-socials {
         display: flex;
         justify-content: center;
         gap: 1rem;
         position: absolute;
         right: 4rem;

         &-btn {
            position: relative;
            height: 5rem;
            width: 6rem;
            border-radius: 5rem 5rem 0 0;
            text-align: center;
            display: inline-block;
            line-height: 5rem;
            color: $color-primary-900;
            background-color: $color-grey-light-1;
            display: flex;
            justify-content: center;
            align-items: center;


            span,
            icon {
               font-size: 2.5rem;
            }

            &:before,
            &:after {
               content: '';
               position: absolute;
               background-color: transparent;
               bottom: 0;
               height: 4rem;
               width: 2rem;
               box-shadow: 0 2rem 0 0 $color-grey-light-1;

            }

            &:before {
               border-bottom-right-radius: 2rem;
               right: 100%;
            }

            &:after {
               border-bottom-left-radius: 2rem;
               left: 100%;
            }
         }

         &-container {
            // display: none;

            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            position: absolute;
            right: 1rem;
            bottom: 4.5rem;
            opacity: 0;
            transform: translateY(2rem);
            pointer-events: none;
            padding-bottom: 2rem;


            .icon {

               font-size: 2rem;
            }



         }

         a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
            background: $color-primary;
            color: $color-grey-light-1;
            text-decoration: none;
            font-size: 2rem;
            transition: background 0.3s ease, color 0.3s ease;
            transform: translateY(2rem);
            opacity: 0;

            &:hover {
               background: $color-primary-900;
               color: #fff;
            }
         }

         // when button hovered → show socials
         &:hover .member-socials-container {
            opacity: 1;
            transform: translateY(0);
            pointer-events: auto;
         }

         &:hover .member-socials-container a {
            opacity: 1;
            transform: translateY(0);
         }

         // Stagger animation
         .member-socials-container a {
            transition: transform 0.4s ease, opacity 0.4s ease;
         }

         .member-socials-container a:nth-child(1) {
            transition-delay: 0.1s;
         }

         .member-socials-container a:nth-child(2) {
            transition-delay: 0.2s;
         }

         .member-socials-container a:nth-child(3) {
            transition-delay: 0.3s;
         }

         .member-socials-container a:nth-child(4) {
            transition-delay: 0.4s;
         }
      }
   }
}




.scrolling-text {
   overflow: hidden;
   white-space: nowrap;
   width: 100%;
   background: #fff;
   /* adjust to your section bg */
   // border-top: 1px solid #eee;
   // border-bottom: 1px solid #eee;

   .scrolling-track {
      display: inline-block;
      padding: 7rem 0;
      font-size: 12rem;
      text-transform: uppercase;
      animation: scroll-left 100s linear infinite;
      // font-family: $font-secondary;
      font-weight: 700;

      .scrolling-track span {
         margin: 0 2rem;
         font-weight: 700;
      }

      .filled {
         color: $color-primary;
         /* your brand color */
      }

      .hollow {
         color: transparent;
         -webkit-text-stroke: 1px $color-primary;
         text-stroke: 1px $color-primary;
      }

   }

   @keyframes scroll-left {
      from {
         transform: translateX(0);
      }

      to {
         transform: translateX(-50%);
      }

   }
}

.section-choose-us {
   position: relative;
   height: max-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: $color-grey-light-1;
   transition: margin-top 0.5s ease;
   margin: 7rem 0;

   .choose-us {}

   .choose-us__bg {
      display: flex;
      width: 100%;
      position: absolute;
      inset: 0;
      z-index: 0;

      &--left,
      &--right {
         flex: 1;
      }

      &--left {
         position: relative;

         background-color: $color-primary;

         &::before {
            content: ""; // important!
            position: absolute;
            inset: 0; // makes it fill the parent
            background-image: url("../img/reviews/testimonial-bg-pattern.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1; // sits above background-color

         }
      }

      &--right {
         background: white;
      }

   }

   /* Content stays centered max 160rem */
   .choose-us__content {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      width: 100vw;
      margin: 0 auto;
      padding: 7rem 5rem 7rem 5rem;
      padding-bottom: 0;

      @media only screen and (min-width: $bp-monitor) {
         width: 160rem;
      }

      .choose-us__left,
      .choose-us__right {
         flex: 1;
         padding: 2rem 5rem;
         width: 50%;
      }

      .choose-us__left {

         &--swiper {
            position: relative;

            .review {

               &-swiper {
                  overflow: hidden;


                  .swiper {
                     width: 100%;
                     height: auto;
                  }

                  .swiper-slide {
                     // text-align: center;
                     font-size: 18px;
                     display: flex;
                     justify-content: center;
                     align-items: stretch;
                     // height: 100px;

                     // &:active,
                     // &:hover {
                     //    cursor: pointer;
                     // }
                  }
               }


               &-bottom {
                  position: relative;
                  width: 100%;
                  padding-top: 3rem;
                  border-top: .5px solid rgba($color-primary-50, 0.4);
                  display: flex;
                  align-items: center;
                  gap: 2rem;
                  margin-top: 3rem;

                  &::before {
                     content: '';
                     position: absolute;
                     top: -10px;
                     /* sits exactly on the border */
                     left: 40px;
                     transform: translateX(-50%) rotate(45deg);
                     width: 20px;
                     height: 20px;

                     /* Only borders, no fill */
                     background: transparent;
                     border-bottom: .5px solid rgba($color-primary-50, 0.4);
                     border-right: .5px solid rgba($color-primary-50, 0.4);
                  }

                  // &::after {
                  //    content: '';
                  //    position: absolute;
                  //    top: -2px;
                  //    left: 50%;
                  //    transform: translateX(-50%) rotate(-45deg);

                  //    width: 20px;
                  //    height: 20px;

                  //    background: transparent;
                  //    border-bottom: 2px solid #ccc;
                  //    border-left: 2px solid #ccc;
                  // }
               }

               &-stars {
                  display: flex;
                  gap: .5rem;
                  align-items: center;
                  justify-content: left;
                  margin-bottom: 2rem;

                  .icon {
                     color: yellow;
                     font-size: 1.2rem;
                  }
               }

               &-text {
                  position: relative;

                  .heading-subtext {
                     color: $color-grey-light-1;
                  }

                  &::before {
                     font-weight: 100;
                     font-size: 15rem;

                     position: absolute;
                     content: url(../img//reviews/qoute-icon.png);
                     top: -10rem;
                     right: 0;
                     // font-family: $font-secondary
                  }

               }

               &-user {
                  display: flex;
                  align-items: center;
                  gap: 1.5rem;
                  margin-right: auto;


                  &_image {
                     height: 6rem;
                     width: 6rem;
                     border-radius: 100%;
                  }

                  &_text--container {
                     .heading-midtext {
                        color: $color-grey-light-1;
                        margin-bottom: .5rem;
                     }

                     .heading-subtext {
                        color: $color-grey-light-1;
                        font-size: 1.2rem;
                        font-weight: 600;
                     }
                  }


               }

               &-pagination {
                  position: absolute;
                  display: flex;
                  align-items: center;
                  gap: 1rem;
                  bottom: 2rem;
                  right: 2rem;
                  z-index: 100;

                  .icon {
                     cursor: pointer;
                     font-size: 2rem;
                     padding: .6rem;
                  }
               }
            }
         }
      }

      .choose-us__right {
         &-heading {
            margin-bottom: 2rem;

            .heading-midtext-slim,
            .heading-midtext-wide {

               color: $color-primary-950 !important;
            }
         }

         &-text {
            margin-bottom: auto;

            .heading-minitext {
               color: $color-primary-950;
            }
         }

         &-list {
            display: flex;
            gap: 2rem;
            margin-top: 2rem;

            &--container {
               list-style-type: none;

               .list {
                  display: flex;
                  align-items: center;
                  gap: 1rem;

                  &:not(:last-child) {
                     margin-bottom: 1.5rem;
                  }

                  &-icon {
                     font-size: 2.5rem;
                     font-weight: 400;
                     color: $color-grey-dark-1;
                     color: $color-primary;
                     // margin-right: 1.2rem;
                  }

                  &-text {
                     font-weight: 600;
                     color: $color-primary-950;
                  }
               }
            }
         }

         &-btn {
            margin-top: 2.5rem
         }
      }

   }
}



.section-projects {
   background-color: $color-grey-light-1;
   height: max-content;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: $color-grey-light-1;

   .projects {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2.5rem;
      position: relative;
      z-index: 1;
      padding: 7rem 5rem 3rem 5rem;
      border-bottom: 1px solid $color-grey-light-3;

      @media only screen and (min-width: $bp-monitor) {
         width: 160rem;
      }

      &-heading {
         text-align: center;
         margin-bottom: 3rem;

         .heading-subtext {
            color: $color-grey-dark-1;
            width: 70%;
            margin: 1.5rem auto;
         }

      }

      &-swiper {
         display: flex;
         gap: 6rem;
         overflow: hidden;
         width: 100%;

         .swiper {
            width: 100%;
            height: auto;
            margin-left: auto;
            margin-right: auto;
         }

         .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;

            // &:active,
            // &:hover {
            //    cursor: pointer;
            // }

            .project {
               position: relative;
               overflow: hidden;
               border-radius: .5rem;


               &-image_container {
                  width: 100%;
                  max-width: 25rem;
                  aspect-ratio: 5 / 7;
                  position: relative;
                  overflow: hidden;


                  .project-image {
                     width: 100%;
                     height: 100%;
                     object-fit: cover;
                     transition: transform 0.5s ease;
                  }

                  // subtle overlay
                  &::after {
                     content: "";
                     position: absolute;
                     inset: 0;
                     background: rgba($color-primary, 0.8);
                     opacity: 0;
                     transition: opacity 0.4s ease;
                  }

                  &::before {
                     content: "";
                     position: absolute;
                     top: 1rem;
                     left: 1rem;
                     right: 1rem;
                     bottom: 1rem;

                  }
               }

               &-name_container {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%) translateY(20px);
                  text-align: center;
                  opacity: 0;
                  transition: all 0.4s ease;
                  padding: 1rem;
                  width: 90%;

                  cursor: pointer;

                  .heading-midtext-slim {
                     font-size: 1rem;
                     color: $color-grey-light-1;
                     margin-bottom: 1rem;
                     letter-spacing: 1px;
                  }

                  .heading-midtext-wide {
                     font-size: 1.4rem;
                     color: $color-grey-light-1;
                     font-weight: bold;
                  }
               }

               // hover state
               &:hover {
                  .project-image {
                     transform: scale(1.05);
                  }

                  .project-image_container::after {
                     opacity: 1;
                  }

                  .project-image_container::before {
                     border: 1px solid rgba($color-grey-light-1, 0.5);
                     border-radius: .5rem;
                     // transform: scale(1, 1); // expands to full width
                     opacity: 1;
                     z-index: 200;
                  }

                  .project-name_container {
                     opacity: 1;
                     transform: translate(-50%, -50%) translateY(0);
                  }
               }
            }
         }
      }
   }
}






.section-space {
   height: 100rem;
}